<launch>

<!-- <arg name="use_sim_time" default="false  0.8"/> -->
<node name="pure_pursuit_1" pkg="pure_pursuit" type="pure_pursuit" respawn="false" output="screen">

    <remap from="/path_segment" to="/planning/planning/execute_path_op" />
    <!-- <remap from="/path_segment" to="/planning/planning/execute_path" /> -->
    <!-- <remap from="/path_segment" to="/expath" /> -->
     <remap from="/odometry" to="/odometry/filtered" />
  
    <param name = "wheelbase" value = "0.8"/>
    <param name = "lookahead_distance" value = "0.9"/>
    <param name = "linear_velocity" value = "0.9"/>


    <param name = "max_rotational_velocity" value = "1.5"/>
    <param name = "position_tolerance" value = "0.2"/>
    <param name = "steering_angle_velocity" value = "100.0"/>
    <param name = "acceleration" value = "100.0"/>
    <param name = "jerk" value = "100.0"/>
    <param name = "steering_angle_limit" value = "1.57"/>
    <!-- <param name = "map_frame_id" value = "map"/> -->
    <!-- <param name = "robot_frame_id" value = "base_link"/> -->
    <param name = "map_frame_id" value = "map"/>
    <param name = "robot_frame_id" value = "base_link"/>

    <!-- <param name = "lookahead_frame_id" value = "odom_imu"/> -->
    <!-- <param name = "ackermann_frame_id" value = "odom_imu"/> -->
</node>
  
</launch>
